[
    {% for role in containers_uis%}
    {
        "name": "{{ role.name }}",
        {% if role.port != 'N/A' %}
        "url": "{{ role.port }}"
        {% endif %}
    }{% if not loop.last %},{% endif %}
    {% endfor %}
]
